body {
  margin:0px;
}

.primary-nav {
  display: flex;
  margin: 0px auto;
  max-width: 60rem;
  padding:0px 0.9375rem;
  text-transform: uppercase;
}
.primary-nav-items, a {
margin-inline:.5rem;
text-decoration: none;
}
.primary-nav-container {
 background-color: rgb(0, 100, 145);
 box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 0.8125rem 0px;

}
.options {
  display: flex;
  list-style: none;
}
header, a {
  color: white;
}